/* Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}


.bg-primary
{
  background-color: #dc3545;
  color: #fff;
}

h2
{
  font-weight: 400;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  padding: 2em;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

li {
    padding-bottom: 0.3rem;
    margin: 0 3em 0em 3em;
    font-size: 1em;
}

a
{
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
  text-decoration: none;
}