canvas
{
    max-width: 400px;
}

.container
{
    margin-top: 5em;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: lightblue;

    .chartz
    {
        margin-top: -3em;
    }
}

.swiper-pagination-bullets
{
    bottom: 0px;
    margin: 0 auto;
    left: 60px;
    top: 481px;
}

h1
{
    font-weight: 100;
    font-size: 4em;
    margin-bottom: 1em;
    margin-top: -0.5em;
}
