*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 0 auto;
}

// Total Confirmed Cases around the world
.total
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


// Each Card
.card
{
    text-align: center;
    margin: 2em;

    .bro
    {
        margin-top: 2em;
    }
}

// Cases inside each Province
.all-counts
{
//    display: grid;
//    grid-template-columns: repeat(2, 1fr);
}

// Card for each province
.small-card
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .inner-card
    {
        padding: 1em;
        margin: 1em;
    }
}

