*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}

.data-container
{
    padding: 3em 0em;
    
    background-color: #ddd;
}

// Total Confirmed Cases around the world
.total
{
    display: flex;
    justify-content: space-evenly;

    .count
    {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 1em;
        margin-top: 2em;
        > *
        {
            padding: 0.5em;
            margin: 0em 5em 0em 5em;

        @media(max-width: 968px)
        {
            margin-bottom: 1em;
        }

        }

        .total-confirmed
        {
            background-color: yellow;
            padding: 0.5em;
            border-radius: 1em;
        }

        .total-recovered
        {
            background-color: lightgreen;
            padding: 0.5em;
            border-radius: 1em;
        }

        .total-death
        {
            background-color: #ff4043;
            padding: 0.5em;
            border-radius: 1em;
            // color: white;
        }
    }
}


// Each Card
.card
{
    text-align: center;
    margin: 2em;

    h2
    {
        margin-bottom: 0.5em;
    }

    .bro
    {
        margin-top: 2em;
    }
}


.prov-active
{
    background-color: skyblue;
    padding: 0.5em;
    border-radius: 0.5em;
    color: white;
}


table {
//   font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
}

td, th {
//   border: 1px solid #dddddd;
  text-align: left;
  padding: 0.75em;
  font-size: 1em;

  @media(max-width: 668px)
  {
      font-size: 0.75em;
  }

}

th
{
    font-weight: bolder;
    border-bottom: 2px solid black;
}

tr:nth-child(even) {
  background-color: #ddd;
}


h1
{
    font-weight: 100;
    font-size: 3em;
    margin-bottom: 0.5em;
}

h1.numbz
{
    margin: 1em 0em 1em 0em;
}

#ontariolink{
    margin-top: 2rem;
    a{
        font-size:1.5em;
        text-decoration: none;
        color:black;
        padding:1em;
    }
}
