*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}

// Total Confirmed Cases around the world
.total
{
    display: grid;
    grid-template-columns: 1fr 1fr;

    .count
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        > *
        {
            padding: 0.5em;
        }
    }
}


// Each Card
.card
{
    text-align: center;
    margin: 2em;

    h2
    {
        margin-bottom: 0.5em;
    }

    .bro
    {
        margin-top: 2em;
    }
}


.prov-active
{
    background-color: skyblue;
    padding: 0.5em;
    border-radius: 0.5em;
    color: white;
}



table {
//   font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.5em;
  font-size: 1.3em;
}

th
{
    font-weight: bolder;
}

td
{
    // font-weight: 00;
    border-bottom: 2px solid black;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.numbz
{
    margin-bottom: 0.5em;
}
