*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#ontariolink{
    margin-top: 2rem;
    a{
        font-size:1.5em;
        text-decoration: none;
        color:black;
        padding:1em;
    }
}

.items{
    margin: 1em 0em 1em 0em;
}

.item-container{
    margin-bottom: 5em;
    h2{
        margin-top:2rem;
    }
}

h1
{
    font-weight: 100;
    font-size: 3em;
    margin-bottom: 0.5em;
    margin-top: -0.5em;
}

.all-equipment
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media(max-width: 786px)
    {
        grid-template-columns: repeat(1, 1fr);
    }

}

.equipment-1, .equipment-2, .equipment-3, .equipment-4
{
    background-color: lightgreen;
    margin: 2em;
    border-radius: 1em;
    padding-bottom: 1em;
}

p
{
    margin: 1em auto 0em auto;
    max-width: 75%;
}