<div class="container">

    <h1>Chat with a Bot!</h1>

    <i class="fa fa-robot"></i>

    <br>

    <input class="chat" type="text" placeholder="Talk to Bot..." autocomplete="off" (keydown)="keyPressed($event)" />

    <div *ngFor="let item of holder">

        <p>{{item}}</p>


    </div>


    <div class="note">
        <p><strong>NOTE:</strong> When asking questions, please make sure the spelling and grammar is clear. Also, try
            your best to ask
            questions that start with "why" or "how", etc.</p>

        <p>For example, "what is covid-19?" or "do i have covid-19?"</p>
    </div>

</div>